# H1 Data Science Tools and Ecosystem

In this notebook , Data Science Tools and Ecosystems are summerized.

_Objectives_:
+ explain how to use Jubyter notebook
+ executing on the existing cell
+ learn the core programming languages used in python
+ and the data scince tools used

Some of the popular languages that Data Scientist use are:
1. Python
2. R Programming language
3. SQL

Some of the commonly used libraries used by Data Scientist include:
+ Matplotlib
+ Numpy
+ pandas

Data Science Tools
|------------------|
Jubypter notebook
|------------------|
Jubypter lab
|------------------|
Apache Zepplin

### H3 Below are a few examples of evaluating arithmetic expressions in python

In [4]:
#This is simple arithmetic expression to multiply then add integers
(3*4)+5

17

#This will convert 200 minutes to hours by diving by 60
200/60

## Author
Ntokozo Tsabedze